@using Seyahat.Models.Siniflar;
@model List<iletisimler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}


<!DOCTYPE html>
<!--             İLETİSİM KISMI

-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Easy-Trip Website Template | Contact :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/slider.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="header">
    </div>
    <div class="header-bottom">

    </div>
    <div class="contact">
        <div class="wrap">
            <div class="contact-top">
                <br />
                <h3><b>İletişim Bilgileri</b></h3>
                <p>
                    Gezilerimizin Altına Yorum Yaparakta Bizimle İletişime Geçebilirsiniz.Gitmek İstediğiniz Geziler için Bizimle İletişime Geçerek Rezervasyonunuzu Yapabilirsiniz.<br />Yeni Bir Gezi mi istiyorsunuz? Ya da Önerileriniz mi var? Hemen Bizimle İletişime Geçin Bizde istediklerinizi Yapalım.
                </p>
            </div>
            <div class="form">
                <form class="cmxform" id="contactForm" method="post">
                    <div>
                        <input type="text" class="textbox" value="Ad-Soyad" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Ad-Soyad';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mail';}">
                    </div>
                    <div>
                        <input type="text" class="textbox" value="Konu" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Telefon';}">
                    </div>
                    <div>
                        <p><span class="read">Gönder</span></p>
                    </div>
                </form>
            </div>
            <div class="form1">
                <div>
                    <textarea value="Mesaj:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Mesaj';}">Mesajınızı Yazınız:</textarea>
                </div>
            </div>
            <div class="clear"></div>
            <div class="contact-bottom">
                <div class="contact-left">
                    <div class="contact-add">
                        <h3>Adress</h3>
                        <p> Akpınar Mahallesi Papatya Sokak Özverililer İş Merkezi No:13 Elazığ/Merkez</p>
                        <p>Telephone:424-24-24</p>
                        <p>Fax:243-24-23</p>
                        <p>Email:<a href="#">TatilSeyahatSitesi@info.com</a></p>
                    </div>
                    <div class="contact-add">

                        <p>Telefon:424-24-23</p>
                        <p>Fax:1-22-5555</p>
                        <p>Mail:<a href="#">TatilSeyahatSitesi@info.com</a></p>
                    </div>
                </div>
                <div class="contact-map">
                    <iframe width="580" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br><small><a href="http://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Rashelle+Way,+San+Ramon,+CA,+United+States&amp;aq=0&amp;oq=rash&amp;sll=44.308127,-111.75293&amp;sspn=22.280521,53.569336&amp;ie=UTF8&amp;hq=&amp;hnear=Rashelle+Way,+San+Ramon,+Contra+Costa,+California+94582,+United+States&amp;ll=37.768294,-121.922369&amp;spn=0.001503,0.00327&amp;t=m&amp;z=14&amp;iwloc=A" style="color: #555;text-align:left"></a></small>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="wrap">
            <div class="copy">
                @*<p>&copy; 2021 Easy-Trip. Tüm Hakları Saklıdır. | Design by <a href="#">W3Layouts</a></p>*@
            </div>
        </div>
    </div>
</body>
</html>





